


.constraints:after {
	content: "";
	clear:right;
}

.constraints {
width:38%;
float:right;
}

.constraints .unvalidated {
	background-color: red;
}

.constraints .validated {
	background-color: green;
}

.spad {
	width: 60%;
    margin-bottom: 30px;

}

.CodeMirror {
	border-top: 1px solid #888; 
	border-bottom: 1px solid #888;
  	border-right: 1px solid #888;
  	height: auto;}

.EvalResult {border-left: 2px solid #000;}

.constraint{
    border: 1px solid;
    padding: 2%;
    padding-bottom: 4%;
    padding-top: 4%;
    color: #000000;
    font-size: 12px;
    font-style: italic;
}