


.constraints:after {
	content: "";
	clear:right;
}

.constraints {
	float:right;
}

.constraints .unvalidated {
	background-color: red;
}

.constraints .validated {
	background-color: green;
}

.spad {
	width: 60%;

}

.CodeMirror {
	border-top: 1px solid #888; 
	border-bottom: 1px solid #888;
  	border-right: 1px solid #888;
  	height: auto;}

.EvalResult {border-left: 2px solid #000;}